<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>
          In another life, I would be teaching computer science in a high school back in the states. I love teaching and collaborating with others, so the next best thing is being a web developer. Hopefully, I can be working with you building your next idea or feature.
        </p>
      </div>
    </div>
  </div>
</div>
